@import url(./__opinion/comments__opinion.css);
@import url(./__photographers-box/comments__photographers-box.css);
@import url(./__photographers-photo/comments__photographers-photo.css);
@import url(./__artist-name/comments__artist-name.css);
@import url(./__photographers-item/comments__photographers-item.css);

.comments{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 48px);
}

@media screen and (max-width: 768px){
    .comments{
        width: 100%;
    }
}