.user-edit__button{
    display: inline;
    font-size: 12px;
    width: auto;
    height: auto;
    font: normal;
    margin-top: 24px;
    padding: 3px 8px;
}

.user-edit__button:hover{
    background: white;
    color: black;
}