@import url(language/header__language.css);
@import url(languages/__languages.css);
@import url(language/selected/header__language_link_selected.css);

.header {
    display: flex;
    justify-content: space-between;    
    box-sizing: border-box;
}