.cover__title{
    justify-self: center;
    align-self: center;
    z-index: 2;
    padding: 0px;
    width: 100%;
    position: relative;
    margin: auto;
    padding-top: 15%;
    max-width: 90%;
    font-size: 72px;
    line-height: 110%;
}

@media screen and (max-width: 767px){
    .cover__title{
        font-size: 42px;
        line-height: 47px;
    }
}











